<header class="b-header">
  <%= link "ScrumEx", to: page_path(@conn, :index), class: "b-header__logo" %>

  <nav class="nav nav_pills" role="navigation">
    <%= link "Проекты", to: project_path(@conn, :index), class: "nav__link" %>
    <%= link "Настройки", to: "#", class: "nav__link" %>
    <%= link "Выйти", to: sign_in_path(@conn, :delete), method: :post, class: "nav__link" %>
  </nav>
</header>
