<!DOCTYPE html>
<html lang="ru">
  <head>
    <%= render "_meta.html", assigns %>

    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <div class="c-page-wrap">
      <%= render "_flash.html", assigns %>

      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>
    </div>

    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
