<!DOCTYPE html>
<html lang="ru">
  <head>
    <%= render "_meta.html", assigns %>

    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body class="t-dark">
    <div class="c-page-wrap">
      <%= render "_header.html", assigns %>
      <%= render "_flash.html", assigns %>

      <main class="c-page-wrap__main" role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>

      <%= render "_footer.html", assigns %>
    </div>

    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
