.nav_pills {
  margin 0 -.5rem
  .nav__link {
    color $gray-lighter
    font-size .9rem
    text-decoration none
    padding .4rem .75rem
    background darken($brand-dark, 40%)
    border-radius 3px
    margin-left .5rem
    margin-right .5rem
  }
}
