<div class="v-project-new">
  <div class="page-header">
    <h1 class="page-header__title">Настройки проекта</h1>

    <nav class="page-header__actions">
      <%= link "Удалить проект", to: project_path(@conn, :delete, @project),
      method: :delete, class: "btn btn_link" %>
    </nav>
  </div>

  <%= render "_form.html", changeset: @changeset, action: project_path(@conn, :update, @project),
  submit_title: "Обновить" %>
</div>

