<div class="v-project-index">
  <div class="c-page-header">
    <h1 class="c-page-header__title">Проекты</h1>

    <nav class="c-page-header__actions">
      <%= link "Создать проект", to: project_path(@conn, :new), class: "c-btn c-btn_transparent" %>
    </nav>
  </div>

  <div class="v-project-index__grid">
    <%= render_many @owned_projects, Scrumex.ProjectView, "_project-short.html", assigns %>
  </div>
</div>

