.form {
  &__group {
    margin-bottom 1rem
  }

  &__control {
    display: block
    width: 100%
    font-size 1rem
    line-height 1.2

    background-color $white
    background-image none
    background-clip padding-box

    border 1px solid $gray
    outline none

    padding .5rem 1rem
    border-radius 2px
  }

  &__actions {
    display flex
  }

  &__responses {
    font-size .8rem
    margin-left 1rem
  }
}
