.project-short {
  margin .5rem
  padding .5rem 1rem
  background $white
  border-radius 3px
  text-decoration none
  color $gray
  flex 0 1 (100 / 6)%
  overflow hidden

  &__name {
    overflow hidden
  }

  &__created {
    font-size .75rem
    display block
    color $gray-light
  }
}
