@include component('list') {
  flex: 0 0 17rem;
  margin: 0 .25rem;
  background: rgba($gray-lighter, .4);
  padding: .5rem;
  border-radius: 3px;

  @include element('header') {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: .5rem 0;
  }

  @include element('title') {
    font-weight: bold;
    color: $white;
    line-height: 1.2;
    font-size: 1rem;
  }

  @include element('extra-menu') {
    text-decoration: none;
    width: 1.5rem;
    height: 1.5rem;
    text-align: center;
    transition: .3s background;
    border-radius: 3px;
    color: $gray-lighter;
    line-height: 1.5rem;

    &:hover,
    &:focus {
      background: rgba($white, .2);
    }
  }

  @include element('tasks') {
    overflow-y: auto;
    max-height: 100%;
  }

  @include element('task-composer') {
    display: block;
    margin: .5rem -.5rem -.5rem;
    padding: .25rem .5rem .5rem;
    text-decoration: none;
    color: $gray-lighter;
    font-size: .9rem;
    border-radius: 0 0 3px 3px;
    text-align: center;
    transition: .3s background;

    &:hover,
    &:focus {
      background: rgba($white, .2);
    }
  }
}
