<div class="v-page-home">
  <div class="page-header">
    <h1 class="page-header__title">Домашняя страница</h1>

    <nav class="page-header__actions">
      <a href="#" class="btn btn_link">Добавить виджет</a>
      <a href="#" class="btn btn_link">Настроить раскладку</a>
    </nav>
  </div>

</div>
